body {
  font-family: "Roboto", sans-serif;
  color: #0a224a;
  background-color: #fff;
  line-height: 24px;
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* products */
.container {
  max-width: 343px;
  padding: 0 16px;
  margin: 0 auto;
}
.products {
  background-color: #ffffff;
  padding-top: 100px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.products-item {
  background-color: #ffffff;
  display: inline-block;
}
.products-item:last-child {
  margin-bottom: 0;
}

.products-header {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  color: #0a224a;
  margin-bottom: 33px;
}

.products-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 16px;
  color: #0a224a;
}

/* bestsellers */
.bestsellers {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bestsellers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.bestsellers-photo {
  max-width: 100%;
}

.bs-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
}

.bs-item {
  background-color: #ffffff;
}
.bestsellers-header {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  color: #0a224a;
  margin-bottom: 30px;
  text-transform: capitalize;
  text-align: center;
}
.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #0a224a;
  margin-top: 14px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #0a224a;
}
/******** mob********/
@media screen and (min-width: 375px) and (max-width: 768px) {
  .card-1-tab {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .card-1-desktop {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
/******** tablet********/
@media screen and (min-width: 768px) and (max-width: 1158px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
  .bestsellers-list {
    flex-wrap: wrap;
    gap: 30px;
  }
  .bs-list {
    row-gap: 32px;
  }
  .bs-item {
    width: calc((100% - 20px) / 2);
  }
  .card-1-mob {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .card-1-desktop {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

/******desktop******/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .products-list {
    flex-wrap: nowrap;
    gap: 16px;
  }

  .bestsellers-list {
    flex-wrap: nowrap;
    gap: 30px;
  }
  .card-item {
    width: calc((100% - 24px) / 2);
    display: flex;
  }

  .bs-list {
    display: flex;
    row-gap: 30px;
    column-gap: 20px;
    justify-content: center;
  }

  .bs-item {
    width: calc((100% - 20px) / 2);
  }
  .products-photo {
    width: 312px;
  }
  .card-1-mob {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .card-1-tab {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
