body {
  font-family: "Roboto", sans-serif;
  color: #0a224a;
  background-color: #fff;
  line-height: 24px;
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

/* products */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.products {
  background-color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
}

.products-header {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 30px;
  color: #0a224a;
  text-transform: capitalize;
  text-align: center;
}
.products-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.products-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 15px;
  color: #0a224a;
}
.products-item {
  background-color: #ffffff;
  display: inline-block;
}

/* bestsellers */
.bestsellers {
  padding-bottom: 100px;
  background-color: #f4f4fd;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
}
.bestsellers-header {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  color: #0a224a;
  margin-bottom: 30px;
  text-transform: capitalize;
  text-align: center;
}

.bestsellers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.card-item {
  display: inline-block;
}
.card-2 {
  display: flex;
}

.bs-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
}

.bs-item {
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #0a224a;
}

.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #0a224a;
}
